<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercise_PABD_C.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=LAPTOP-RUF2C707\ASRASYAHRASTANI;Persist Security Info=True;Password=Syh051002;User ID=sa;Initial Catalog=Pemilik_Toko"
            providerName="System.Data.OleDb" />
        <add name="Exercise_PABD_C.Properties.Settings.ConnectionString1"
            connectionString="Provider=SQLNCLI11;Data Source=LAPTOP-RUF2C707\ASRASYAHRASTANI;Persist Security Info=True;Password=Syh051002;User ID=sa;Initial Catalog=Nama_Karyawan"
            providerName="System.Data.OleDb" />
        <add name="Exercise_PABD_C.Properties.Settings.ConnectionString2"
            connectionString="Provider=SQLNCLI11;Data Source=LAPTOP-RUF2C707\ASRASYAHRASTANI;Persist Security Info=True;Password=Syh051002;User ID=sa;Initial Catalog=Toko_Sejahtera_Umat"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>